TS_HOSTNAME=ai
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=true
BASE_DATA_DIR=/mnt/storage/data

OI_DATA_PATH=${BASE_DATA_DIR:-.}/open-webui/data
OLLAMA_BASE_URL=http://192.168.100.149:11434
