TS_HOSTNAME=qbittorrent
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=false

PRIVATE_KEY=
ADDRESSES=
PUBLIC_KEY=
PRESHARED_KEY=
ENDPOINT=

BASE_DATA_DIR=/mnt/storage/data

# Optional, instead of custom wg0-config
# WG_CONFIG_DIR=${BASE_DATA_DIR:-.}/qbittorrent/wg

DOWNLOADS_DIR=${BASE_DATA_DIR:-.}/qbittorrent/downloads
CONFIG_DIR=${BASE_DATA_DIR:-.}/qbittorrent/config
INCOMPLETE_DIR=${BASE_DATA_DIR:-.}/qbittorrent/incomplete
