PRIVATE_KEY=
ADDRESSES=
PUBLIC_KEY=
PRESHARED_KEY=
ENDPOINT=

BASE_DATA_DIR=/mnt/storage/data

# Optional, instead of custom wg0-config
# WG_CONFIG_DIR=${BASE_DATA_DIR:-.}/qbittorrent/wg

DOWNLOADS_DIR=${BASE_DATA_DIR:-.}/qbittorrent/config
CONFIG_DIR=${BASE_DATA_DIR:-.}/qbittorrent/incomplete
INCOMPLETE_DIR=${BASE_DATA_DIR:-.}/qbittorrent/downloads
