TS_HOSTNAME=prowlarr
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=false

BASE_DATA_DIR=/mnt/storage/data

PROWLARR_CONFIG_DIR=${BASE_DATA_DIR:-.}/prowlarr/config
