TS_HOSTNAME=nn
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=true # set to true for webhooks

BASE_DATA_DIR=/mnt/storage/data
N8N_DATA_DIR=${BASE_DATA_DIR:-.}/n8n/data
N8N_SHARED_DIR=${BASE_DATA_DIR:-.}/n8n/shared

N8N_PUBLIC_DOMAIN=nn.char-sole.ts.net
N8N_TZ=America/Costa_Rica
