TS_HOSTNAME=radarr
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=false

PUID=1000
PGID=1001

BASE_DATA_DIR=/mnt/storage/data

RADARR_CONFIG_DIR=${BASE_DATA_DIR:-.}/radarr/config
RADARR_MOVIES_DIR=/mnt/storage/media/movies
RADARR_DOWNLOADS_DIR=${BASE_DATA_DIR:-.}/qbittorrent/downloads
