TS_HOSTNAME=jf
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=false
BASE_DATA_DIR=/mnt/storage/data

JF_MEDIA_PATH="/mnt/storage/media"
JF_CONFIG_PATH=${BASE_DATA_DIR:-.}/jellyfin/config
# JF_CACHE_PATH=${BASE_DATA_DIR:-.}/jellyfin/cache # same as container if unset
