TS_HOSTNAME=lidarr
TS_AUTHKEY=tskey-client-nnn-nnn
TS_EXTRA_ARGS=--advertise-tags=tag:container
TS_ALLOW_FUNNEL=false

PUID=1000
PGID=1001

BASE_DATA_DIR=/mnt/storage/data

LIDARR_CONFIG_DIR=${BASE_DATA_DIR:-.}/lidarr/config
LIDARR_MUSIC_DIR=/mnt/storage/media/music
LIDARR_DOWNLOADS_DIR=${BASE_DATA_DIR:-.}/qbittorrent/downloads
